
<!-- **************** CDN 방식(Footer) **************** -->
<!--    jQuery CDN 방식   -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<!--    BootStrap(js) CDN 방식-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
<!--************************************************************ -->



<!-- **************** DIRECT IMPORT 방식(Footer) **************** -->
<!--    jquery direct import   -->
<script src="/js/app/jquery-3.7.0.min.js" ></script>
<!--    BootStrap direct import   -->
<script src="/js/app/bootstrap.js" ></script>
<!--************************************************************ -->


<!-- index.js 추가 -->
<script src="/js/app/index.js"></script>



</body>
</html>